:root {
  --container-padding: 3rem;

  /* Colour Palette */
  --color-bg: #171b24;
  --color-bg-alt: #1f2430;
  --color-text: #cbccc6;

  --color-border: #545e69;
  --color-header: #f0a96b;
  --color-subheader: #ffdfb3;
  --color-link: #f3978b;
  --color-link-hover-bg: #f3978b;
  --color-link-hover-fg: #242936;

  --color-code: #8eccec;
  --color-highlight: #cfed95;
  --color-muted: #63676ccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', 'Segoe UI', 'Lucida Grande', 'Verdana', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: left;
}

header {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

h1 {
  color: var(--color-header);
}

h2 {
  color: var(--color-subheader);
}

hr {
  margin: 2rem;
}

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

article {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  background-color: var(--color-link-hover-bg);
  color: var(--color-link-hover-fg);
}

pre {
  font-family: monospace;
  padding: 2rem 3rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin-left: calc(var(--container-padding) * -1);
  margin-right: calc(var(--container-padding) * -1);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

blockquote {
  font-style: italic;
  text-align: left;
  color: var(--color-highlight);
  margin: 2rem;
  padding-left: 2rem;
  border-left: 2px solid var(--color-highlight);
}

code {
  margin: 0;
  line-height: 1.5rem;
  color: var(--color-code);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

figure {
  margin: 1rem calc(var(--container-padding) * -1);
}

figcaption {
  margin: 1rem 5rem;
  text-align: center;
  font-size: medium;
  font-style: italic;
  color: var(--color-highlight);
}

img {
  width: 100%;
}

.container {
  margin: 5% auto;
  padding: var(--container-padding);
  max-width: 1000px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-alt);
}

.title-bar {
  background-color: var(--color-bg);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: calc(var(--container-padding) * -1);
  margin-right: calc(var(--container-padding) * -1);
  margin-top: calc(var(--container-padding) * -1);
  display: flex;
  min-height: 30px;
  justify-content: space-between;
}

.navigation {
  background-color: var(--color-bg);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: calc(var(--container-padding) * -1);
  margin-right: calc(var(--container-padding) * -1);
  margin-bottom: calc(var(--container-padding) * -1);
  display: flex;
  min-height: 30px;
  justify-content: space-between;
}

.date {
  color: var(--color-code);
  font-size: 0.9em;
  margin-right: 10px;
}

.reading-time {
  color: var(--color-highlight);
  font-size: 0.9em;
}

.flavour-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-muted);
  font-size: medium;
}

.top-text {
  white-space: nowrap;
  overflow: visible;
  padding-right: 1rem;
}

.window-icon {
  width: 1rem;
}